<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- <property name="hibernate.connection.driver_class">org.gjt.mm.mysql.Driver</property>
        <property name="hibernate.connection.password">root</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/way2learndb</property>
        <property name="hibernate.connection.username">root</property> -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
   		<!-- <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property> -->

        <!-- <mapping class="org.directory.entity.Abc"/>
        <mapping class="org.directory.entity.Address"/>
        <mapping class="org.directory.entity.Purchase"/>
        <mapping class="org.directory.entity.Course"/>
        <mapping class="org.directory.entity.UserDetails"/>
         <mapping class="org.directory.entity.Testimonial"/>
        <mapping class="org.directory.entity.AboutUs"/>
        <mapping class="org.directory.entity.CouponCode"/>
        <mapping class="org.directory.entity.FacebookShareLink"/>
        <mapping class="org.directory.entity.Training"/>

         -->
    </session-factory>

</hibernate-configuration>
